layout {
    //     pane size=2 split_direction="vertical" {
    //     pane size="50%" borderless=true {
    //         plugin location="zellij:tab-bar"
    //     }
    //     pane size="50%" borderless=true {
    //         plugin location="file:/Users/cb/.dotfiles/zellij/.config/zellij/plugins/zellij-datetime.wasm" {
    //             timezone1 "CET/+1"
    //             timezone2 "UTC/0"
    //             default_timezone "CET"
    //             background_color "#a6e3a1" 
    //             foreground_color "#181825"
    //             pane_color "#1a1b26"
    //             enable_right_click false
    //             arrow_separator1 ""
    //             arrow_separator2 ""
    //             arrow_separator3 ""
    //             padding_adjust 0
    //             text_align "right"
    //         }
    //     }
    // }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}



// catppuccin-mocha {
//     bg "#585b70" // Surface2
//     fg "#cdd6f4"
//     red "#f38ba8"
//     green "#a6e3a1"
//     blue "#89b4fa"
//     yellow "#f9e2af"
//     magenta "#f5c2e7" // Pink
//     orange "#fab387" // Peach
//     cyan "#89dceb" // Sky
//     black "#181825" // Mantle
//     white "#cdd6f4"
//   }            
